 <div class="panel panel-default">
 <div class="panel-heading">Contact Us</div>
	 <div class="panel-body">
	 <div class="row">
	 	<p style="font-size: 20px; font-family:Arial, Helvetica, sans-serif;">Computer Liquadators offers used computers and laptop for exportation. We understand the process of exporting computers to the rest of the world. We currently export computers and laptops to MiddleEast,India,Pakistan and south america. If you are interested in buying computers for export, Please contact us.</p>
	 </div>
	 <br>
	 <br>
	  <div class="row">
	 <div class="col s4">
	 <div>
		<div><i class="medium material-icons cyan-text text-darken-4">my_location</i></div>
	 </div>
	 <div>
	 <strong>Address</strong>
		<p>170 P.O Box
		Matawan</p><p> New Jersey
		Usa</p>
	 </div>
	 </div>
	  <div class="col s4">
	  <div>
			<div><i class="medium material-icons cyan-text text-darken-4">phone</i></div>
		</div>
		<strong>732-9397703</strong>
	 </div>
	  <div class="col s4">
		  <div>
			<div><i class="medium material-icons cyan-text text-darken-4">email</i></div>
		  </div>
		  <strong>megatrade3@gmail.com</strong>
	 </div>
 </div>
	 </div>
 </div>

<!--
<div class="row">
<div class="col s6">
  <div class="panel panel-primary">
  	<div class="panel-heading">Contact Us</div>
	  <div class="panel-body">
		  <div class="row">
		    <form class="col s12">
		      <div class="row">
		        <div class="input-field col s12">
		          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
		          <label for="first_name">Company Name</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s12">
		          <input id="email" type="email" class="validate">
		          <label for="email">Email</label>
		        </div>
		      </div>
		    </form>
		  </div>
	  </div>
	  <div class="row">
		  <button class="btn waves-effect waves-light pull-right" type="submit" name="action">Submit
	    	<i class="material-icons right">send</i>
	  	  </button>
  	  </div>
  </div>
  </div>
  </div> -->
<!-- <h4>Computer Liquadators offers used computers and laptop for exportation. We understand the process of exporting computers to the rest of the world. We currently export computers and laptops to Caribbean, central and south america. If you are interested in buying computers for export, Please contact us.</h4>
<p>Worldwide wholesale and export of large quantity bulk lots of refurbished and used Computer Products.

We currently export a large volume of equipment to many countries on every continent. Most of our customers are long-time repeat buyers.

We are proud of our emphasis on good-quality, tested and working product. We stand behind everything we sell and we want our customers to be pleased with our product, since our success depends on your repeat business.  We export overstock merchandise and liquidation surplus goods.  Call us for surplus and lease returns, used desktops, monitors, and  laptops in pallet loads and container loads. We export used computers to customers all over the world. We specialize in resale of surplus & used computers as well as asset investment recovery solutions</p> -->