<!-- <div class="jumbotron text-center">
    <h1>Home Page 4 Life</h1>

    <p>{{ tagline }}</p>
</div> -->
<!-- <div class="parallax-container">
      <div style="heigh:1000px; width:500px"parallax><img src="assets/images/dell.jpg"></div>
</div> -->
<!-- <div class="row">
	<div class="col s2">
		<div>
			<ul class="sidebarNav">
				<li ui-sref="home.desktop"><a>Desktop</a></li>
				<li ui-sref="home.laptop"><a>Laptops</a></li>
				<li ui-sref="home.monitor"><a>Monitors</a></li>
			</ul>
		</div>
	</div>
	<div class="col s10">
		<div ui-view></div>
	</div>
</div> -->
<div class="row" style="margin-top:-20px;">
	<!-- <div class="col s12"> -->
	<div class="parallax-container">
	<img class="parallax" style="margin-top:0px;" width="1249" height="480" src="assets/images/chips.jpg">
	<div class="bottom white-text lighten">
           <h3>We Build Relationship</h3>
    </div>
    </div>
	<!-- </div> -->
</div>

<div class="row">
	<div class="col s4">
	<div class="panel panel-primary" style="background-color: #D3D3D3">
		<div class="panel-heading">Export Worldwide</div>
		<div class="panel-body">
			 <div style="margin-left:130px">
				<div><i class="medium material-icons md-inactive">language</i></div>
			</div>
					<p class="homeText">We buy and sell used computers by the bulk. We trade in computer accessories, refurbished computers, used electronics, laptops, power adapters and even workstations and servers as well.We export used computers to customers all over the world</p>
					
		</div>
	</div>
	</div>
	<div class="col s4">
		<div class="panel panel-primary" style="background-color: #D3D3D3">
		<div class="panel-heading">We Deliver Quality</div>
		<div class="panel-body">
			<div style="margin-left:130px">
				<div><i class="medium material-icons">verified_user</i></div>
			</div>
			<br>
			<p class="homeText">We are proud of our emphasis on quality, tested and working used product. We stand behind everything we sell and we want our customers to be pleased with our services.We test our products so you get the product in great working condition</p>
		</div>
	</div>
	</div>
	<div class="col s4">
	<div class="panel panel-primary" style="background-color: #D3D3D3">
		<div class="panel-heading">Stay Connected</div>
		<div class="panel-body">
			<div style="margin-left:130px">
				<div><i class="medium material-icons">contact_phone</i></div>
			</div>
			<br>
			<br>
			<i class="tiny material-icons">email</i>&nbsp<span class="homeText">megatrade3@gmail.com</span>
			<br>
			<br>	
			<i class="tiny material-icons">phone</i>&nbsp<span class="homeText">888-888-8888</span>
		</div>
	</div>
		<!-- <h5>Quality Products</h5>
		<div class="imageCircle-home"><i class="small material-icons">language</i></div> -->
	</div>
</div>