<!--  <div class="row">
        <div class="col-md-3" ng-repeat="laptop in data">
          <div class="panel panel-default" >
          <div class="panel-heading">{{laptop.name}}</div>
            <div class="panel-body">
              <span><img src="assets/images/dell_1.jpg"></span>
            </div>
            <div class="panel-footer">
              <p>{{laptop.description}}</p>
              <p style="color:red"><strong>{{laptop.price | currency}}</strong></p>
            </div>
          </div>
        </div>
      </div> -->
<div class="panel panel-default">
  <div class="panel-heading">Laptops</div>
  <div class="panel-body">
      <div class="row">
        <h1>Laptops text content</h1>
      </div>
      <div class="row">
        <div class="col s4 productImageBorder">
          <img class="desktop-images" src="assets/images/laptop/lap_1.jpg">
        </div>
        <div class="col s4 productImageBorder">
        <img class="desktop-images" src="assets/images/laptop/lap_2.jpg">
        </div>
        <div class="col s4 productImageBorder">
        <img class="desktop-images" src="assets/images/laptop/lap_3.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col s4 productImageBorder">
        <img class="desktop-images" src="assets/images/laptop/lap_4.jpg">
        </div>
        <div class="col s4 productImageBorder">
        <img class="desktop-images" src="assets/images/laptop/lap_5.jpg">
        </div>
        <div class="col s4 productImageBorder">
        <img class="desktop-images" src="assets/images/laptop/lap_6.jpg">
        </div>
      </div>
       <div class="row">
        <div class="col s4 productImageBorder">
        <img class="desktop-images" src="assets/images/laptop/lap_7.jpg">
        </div>
        <div class="col s4 productImageBorder">
        <img class="desktop-images" src="assets/images/laptop/lap_8.jpg">
        </div>
        <div class="col s4 productImageBorder">
        <img class="desktop-images" src="assets/images/laptop/lap_9.jpg">
        </div>
      </div>
    </div>
</div>