<div class="panel panel-default">
	<div class="panel-heading">Monitors</div>
	<div class="panel-body">
			<div class="row">
				<h1>Monitors text content</h1>
			</div>
			<div class="row">
				<div class="col s4 productImageBorder">
					<img class="desktop-images" src="assets/images/monitor/mon_1.jpg">
				</div>
				<div class="col s4 productImageBorder">
				<img class="desktop-images" src="assets/images/monitor/mon_2.jpg">
				</div>
				<div class="col s4 productImageBorder">
				<img class="desktop-images" src="assets/images/monitor/mon_3.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col s4 productImageBorder">
				<img class="desktop-images" src="assets/images/monitor/mon_4.jpg">
				</div>
				<div class="col s4 productImageBorder">
				<img class="desktop-images" src="assets/images/monitor/mon_5.jpg">
				</div>
			</div>
		</div>
</div>