.sidebarNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10px;
    background-color: #f1f1f1;
}

.sidebarNav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.sidebarNav li a.active {
    background-color: #4CAF50;
    color: white;
}

.sidebarNav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.imageCircle-home {
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;

    -moz-border-radius: 50%; /* or 50% */
    border-radius: 50%; /* or 50% */

    background-color: grey;
    color: white;
    text-align: center;
    font-size: 3em;
}
i.icon-blue {
    color: blue;
}
i.icon-orange {
    color: red;
}
i.icon-green {
    color: green;
}
.desktop-images {
    height: 300px;
    width: 300px;
}
p.homeText {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
.productImageBorder {
    border: 1px solid grey; 
    border-color: grey;
}